<header>
    <nav class="navbar bg-header shadow-sm navbar-expand-lg navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/imgs/logo.jpg" alt="logo task management" class="logo-icon"></a>
            <button mat-icon-button class="navbar-toggler btn-dark" data-bs-toggle="offcanvas" href="#menu" type="button" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
              <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
            </button>
            <div class="offcanvas offcanvas-start" id="menu" aria-labelledby="menu">
                <div class="offcanvas-header bg-header">
                  <h5 class="offcanvas-title fw-bold fs-4 mt-3" id="offcanvasLabel">Task management</h5>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>
                <div class="offcanvas-body justify-content-center">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                      <a class="nav-link me-3 link d-md-none d-block" href="#">
                        <span class="ms-1">D&eacute;connecter</span>
                      </a>
                    </li>
                  </ul>
                </div> 
            </div>
            <button mat-button [matMenuTriggerFor]="user" class="me-5 d-none d-md-block">Menu utilisateur</button>
            <mat-menu #user="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon fontSet="fa" fontIcon="fa-sign-out" inline></mat-icon>
                <span class="ms-1">D&eacute;connexion</span>
              </button>
            </mat-menu>   
        </div>
    </nav>
</header>

